
body {
    display:flex;
    height: auto;
    justify-content: center;
}

div {
    min-width: 100px;
    min-height: 100px;
    width: 80%;
    height: 10vw;
    max-width:720px;
    text-align: center;
}

h2 {
    color: white;
}

@media screen and (max-width: 1920px) {

    div {

        background-color: yellow;
    }    

    h2::after {
        content: "YELLOW >:)";
    }
}

@media screen and (max-width: 1366px) {

    div {

        background-color: purple;
    }

    h2::after {
        content: "PURPLE :C";
    }


}

@media screen and (max-width: 1080px) {
 
    div {

        background-color: red;
    }

    h2::after {
        content: "Red ;)";
    }

}

@media screen and (max-width: 1024px) {
 
    div {

        background-color: pink;
    }

    h2::after {
        content: "Pink xD";
    }
}

@media screen and (max-width: 768px) {
 
    div {

        background-color: orange;
    }

    h2::after {
        content: "Orange <:I";
    }
}

@media screen and (max-width: 420px) {

    div {
        width: 100;
        background-color: gray;
    }
    

    h2::after {
        content: "gray u_u";
    }

}

@media screen and (min-width: 1921px) {

    div {

        background-color: green;
    }    

    h2::after {
        content: "GREEN O_O";
    }
}
